only-built-dependencies[]=@prisma/client
only-built-dependencies[]=@prisma/engines
only-built-dependencies[]=prisma
only-built-dependencies[]=@google/genai
only-built-dependencies[]=protobufjs
only-built-dependencies[]=unrs-resolver
